.list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 8px;
	> li {
		background-color: aquamarine;
		padding: 16px;
		display: flex;
		flex-direction: column;
		// align-items: center;
		// justify-content: space-between;
		gap: 16px;
		border-radius: 4px;
		> div {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 16px;
			> div {
				display: flex;
				flex-direction: column;
				gap: 8px;
				> p {
					margin: 0;
					font-weight: bold;
					margin-bottom: 4px;
				}
			}
			> button:nth-child(2) {
				padding: 4px 8px;
				border-radius: 4px;
				background-color: goldenrod;
				cursor: pointer;
				&:hover {
					background-color: rgb(254, 200, 62);
				}
			}
			> button {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 0;
				margin: 0;
				max-height: fit-content;
				border: none;
				background-color: transparent;
				transition: all 250ms;
				> svg {
					cursor: pointer;
					color: rgb(255, 73, 73);
					&:hover {
						color: rgb(255, 0, 0);
					}
				}
			}
		}
	}
}
