.search {
	margin: 0 auto;
	display: block;
	position: relative;
	max-width: fit-content;

	> input {
		padding: 8px;
		font-size: 16px;
		font-weight: bold;
		border-radius: 8px;
	}

	> svg {
		position: absolute;
		right: 5%;
		top: 50%;
		transform: translateY(-50%);
		font-size: 20px;
	}
}
