.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, 200px);
	gap: 16px;
	list-style: none;
	padding: 0;
	> li {
		border: 1px solid black;
		border-radius: 4px;

		> a {
			text-decoration: none;

			> svg {
				font-size: 100px;
				display: block;
				margin: 0 auto;
				color: aquamarine;
			}
			> h3 {
				padding: 4px;
				margin-top: 8px;
				margin-bottom: 0;
				color: black;
			}
		}
	}
}
